@font-face {
	font-family: "Neue Haas Grotesk Text Pro";
	font-style: normal;
	font-weight: normal;
	src: url("./NHaasGroteskTXStd-55Rg.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Text Pro";
	font-style: italic;
	font-weight: normal;
	src: url("./NHaasGroteskTXStd-56It.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Display Pro";
	font-style: normal;
	font-weight: 500;
	src: url("./NHaasGroteskTXStd-65Md.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Display Pro";
	font-style: italic;
	font-weight: 500;
	src: url("./NHaasGroteskTXStd-66MdIt.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Text Pro";
	font-style: normal;
	font-weight: 700;
	src: url("./NHaasGroteskTXStd-75Bd.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Display Pro";
	font-style: normal;
	font-weight: 700;
	src: url("./NHaasGroteskTXStd-75Bd.otf") format("opentype");
}

@font-face {
	font-family: "Neue Haas Grotesk Display Pro";
	font-style: italic;
	font-weight: 700;
	src: url("./NHaasGroteskTXStd-76BdIt.otf") format("opentype");
}

