.sidebar {
	background: #fafafa;
	border-right: 1px solid #e0e0e0;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
	left: 0;
	width: 230px;
	@apply fixed min-h-screen divide-y overflow-scroll transition-left;
}

.sidebarClosed {
	composes: sidebar;
	left: -230px;
}

.sidebarInner {
	@apply absolute min-h-screen overflow-scroll overscroll-y-contain;
}

.logo {
	height: 56px;
	@apply flex items-center justify-center;
	.link {
		display: block;
		line-height: 0;
	}
}

.item {
	@apply flex
		h-full
		w-full 
		cursor-pointer 
		items-center 
		text-xs 
		text-gray-400 
		no-underline
		transition-colors
		hover:bg-gray-300;
	height: 50px;
	padding-left: 22px;
	padding-right: 22px;
}

.subnavTitle {
	composes: item;
	@apply text-gray-500 hover:bg-gray-200;
}

.chevron {
	@apply transition-transform;
	margin-left: 8px;
}

.chevronDown {
	composes: chevron;
	@apply rotate-0 transform;
}

.chevronRight {
	composes: chevron;
	@apply -rotate-90 transform;
}

.subnavItems {
	@apply max-h-0 overflow-hidden transition-maxHeight duration-500;
}

.subnavItemsActive {
	composes: subnavItems;
	@apply max-h-screen;
}

.subnavItem {
	composes: item;
	height: 34px;
	padding-left: 0;
	padding-right: 0;
	@apply flex items-center;
}

.subnavLink {
	composes: item;
	height: 34px;
	padding-left: 44px;
	padding-right: 44px;
	@apply text-gray-500 no-underline transition-colors duration-300 hover:bg-gray-200 hover:text-gray-500;
}

.subnavLinkActive {
	composes: subnavLink;
	@apply cursor-default bg-gray-300 hover:bg-gray-300 hover:text-gray-500;
}
