@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		background: #000;
		overscroll-behavior-x: none;
		overscroll-behavior-y: none;
	}
	a {
		@apply text-cornflower-medium underline;
	}
	a:hover {
		@apply text-white-default;
	}
}
