@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		background: #000;
		overscroll-behavior-x: none;
		overscroll-behavior-y: none;
	}

	a {
		@apply 		underline text-cornflower-medium;
	}
	a:hover {
				@apply text-white-default;
	}
}
