.wrapper {
	@apply container flex flex-col px-0 md:mx-auto lg:px-20;
	background-color: #fff;
	min-height: 100vh;
	&:first-child {
		min-height: calc(100vh - 64px);
	}
	.inner {
		@apply flex flex-col sm:container;
		&:first-child {
			min-height: calc(100vh - 64px);
		}
	}
}
